
body { font-family: sans-serif; background: #121212; color: #3498db; text-align: center; margin: 0; padding: 20px; }
.container { width: 95%; max-width: 600px; margin: auto; }
#weightDisplay { font-size: clamp(32px, 10vw, 64px); font-weight: bold; margin: 20px 0; }
canvas { background: #1e1e1e; border-radius: 12px; padding: 10px; width: 100% !important; height: auto !important; }
.controls { display: flex; gap: 10px; justify-content: center; margin-top: 20px; }
button { padding: 12px 24px; font-size: 16px; border-radius: 8px; border: none; cursor: pointer; transition: 0.2s; }
.btn-blue { background: #3498db; color: white; }
.btn-green { background: #2ecc71; color: white; }
.btn-gray { background: #555; color: white; }
.buttonRow{ display: flex; flex-direction: row; justify-content: space-between;padding-top: 10px;}